.DS_Store

*.class

bin/
.settings/

src/main/webapp/conf/
src/main/webapp/logs/
src/main/webapp/work/


# Eclipse files
.project
.classpath
.metadata/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml

# Maven files
target/

# Package Files #
*.jar
*.war
*.ear